extends layout

block content

  h1 #[strong Author : ] #{author.name}
  p=author.lifespan
  hr
  if books.length
    p First delete these books to delete the author.
  hr
  ul
    each book in books
      li
        a(href=book.url) #{book.title}
    else
      p Do you really want to delete the author ? 
      form(action="",method="post")
        input(type="hidden", name="aid",value=author._id)
        input(type="submit", value="Delete")
