extends layout

block content

  h1 #[strong Author : ] #{author.name}
  p=author.lifespan
  br
  if user_logged==0
    form(action=author.url+"/delete", method="get")
      input(type="submit", value="Delete Author")
    br
    form(action=author.url+"/update", method="get")
      input(type="submit", value="Update Author")
  h2 Books
  hr
  ul
    each book in books
      li
        a(href=book.url) #{book.title}
        p=book.summary
    else
      p No books found.
  