extends layout

block content

  h1=book.title

  p #[strong Author&emsp;&emsp; : &emsp;]
    a(href=book.author.url) #{book.author.name} 
  p #[strong Summary&ensp;&nbsp; : &emsp;] #{book.summary}
  p #[strong ISBN&emsp;&emsp;&emsp; : &emsp;] #{book.isbn}
  p #[strong Genre&ensp;&emsp;&emsp; : &emsp;]
    each gen in book.genre
      a(href=gen.url) #{gen.name}
      |  &nbsp;&nbsp;&nbsp;&nbsp;
  if user_logged==0
    form(action=book.url+"/delete", method="get")
      input(type="submit", value="Delete Book")
    br
    form(action=book.url+"/update", method="get")
      input(type="submit", value="Update Book")
  h2 Copies
  hr
  each ins in bookins
    p #[strong #{ins.status}]
    p Imprint :&emsp; #{ins.imprint}
    p Due &emsp;&ensp;:&emsp; #{ins.due_back_formatted}
    p ID &emsp;&emsp;&ensp;:&emsp; 
      a(href=ins.url) #{ins.id}
    if(ins.status=="Available" && user_logged==1)
      form(action="/catalog/bookinstance/"+ins.id+"/borrow", method="get")
        input(type="submit", value="Borrow")
    hr