extends layout

block content
  h1=title
  p ID&emsp;&emsp;&emsp;&nbsp; :&emsp; #{bookinstance_detail.id}
  p #[strong Title&emsp;&emsp;&ensp;:&emsp; ]
    a(href=bookinstance_detail.book.url) #{bookinstance_detail.book.title}
  p #[strong Imprint&emsp; :&emsp; ] #{bookinstance_detail.imprint}
  p #[strong Status&emsp;&nbsp; :&emsp; ] #{bookinstance_detail.status}
  if bookinstance_detail.status=="Maintenance" || bookinstance_detail.status=="Loaned"
    p #[strong Due&emsp;&emsp;&ensp; :&emsp; ] #{bookinstance_detail.due_back_formatted}
  p Do you really want too delete the book instance ?
  form(action="", method="post")
    input(type="hidden", name="biid",value=bookinstance_detail.id)
    input(type="submit", value="Delete")