extends layout

block content

  h1=book.title

  p #[strong Author : ]
    a(href=book.author.url) #{book.author.name} 
  p #[strong Summary :] #{book.summary}
  p #[strong ISBN : ] #{book.isbn}
  p #[strong Genre : ]
    each gen in book.genre
      a(href=gen.url) #{gen.name}
      |  &nbsp;&nbsp;&nbsp;&nbsp;
  button
    a(href=book.url+"/delete") Delete Book
  button
    a(href=book.url+"/update") Update Book
  h2 Copies
  hr
  each ins in bookins
    p #[strong #{ins.status}]
    p Imprint : #{ins.imprint}
    p Due : #{ins.due_back_formatted}
    p ID : 
      a(href=ins.url) #{ins.id}
    hr