extends layout

block content
  h1= title
  p (Click on Book Instance name to see details)
  ul
    each val in bookinstances
      br
      li &emsp;
        a(href=val.url) #{val.book.title} : #{val.imprint} - 
        if val.status=='Available'
          span #{val.status}
        else if val.status=='Maintenance'
          span #{val.status}
        else
          span #{val.status} 
        if val.status!='Available'
          span (Due: #{val.due_back_formatted} )

    else
      li There are no book copies in this library.