extends layout

block content
  h1=title
  h2=book.title

  p #[strong Author&emsp;&emsp; : &emsp;]
    a(href=book.author.url) #{book.author.name} 
  p #[strong Summary&ensp;&nbsp; : &emsp;] #{book.summary}
  p #[strong ISBN&emsp;&emsp;&emsp; : &emsp;] #{book.isbn}
  p #[strong Genre&ensp;&emsp;&emsp; : &emsp;]
    each gen in book.genre
      a(href=gen.url) #{gen.name}
      |  &nbsp;&nbsp;&nbsp;&nbsp;
  if bookinstances.length
    h1 #[strong First delete these book instances to delete the book]
    h2 Copies
    hr
    each ins in bookinstances
      p #[strong #{ins.status}]
      p Imprint : #{ins.imprint}
      p Due : #{ins.due_back_formatted}
      p ID : 
        a(href=ins.url) #{ins.id}
      hr
  else
    p Do you really want to delete the book ?
    form(action="", method="post")
      input(type="hidden", name="bid",value=book._id)
      input(type="submit", value="Delete")