extends layout

block content

  h1=title
  h2=genre.name
  if books.length
    h2 #[strong First delete these books to delete the genre]
  ul
    each book in books
      li 
        a(href=book.url) #{book.title} 
        p="Author : "+book.author.name
        p Summary
        p=book.summary
    else
      p Did you really want to delete the genre ?
      form(action="",method="post")
        input(type="hidden", name="gid",value=genre._id)
        input(type="submit", value="Delete")