extends layout

block content

  h1=title
  h2="Genre : "+genre.name
  if user_logged==0
    form(action=genre.url+"/delete", method="get")
      input(type="submit", value="Delete Genre")
    br
    form(action=genre.url+"/update", method="get")
      input(type="submit", value="Update Genre")

  h2 Books :
  p (click on book name to see imprints available)
  ul
    hr
    each book in books
      li 
        a(href=book.url) Book title : #{book.title}
        hr
        p="Author : "+book.author.name
        p Summary
        p=book.summary
        hr
    else
      li No books in this genre.