extends layout

block content

  h1=title

  form(action="", method="post")
    label(for="name") Name&emsp;&ensp; : 
    input#name(type="text", name="name",value=user.name)
    br
    br
    label(for="email") Email&emsp;&ensp; : 
    input#email(type="email", name="email",value=user.email)
    br
    br
    label(for="mobile") Mobile&emsp; : 
    input#mobile(type="number", name="mobile",value=user.mobile)
    br
    br
    label(for="password") Password : 
    input#password(type="password", name="password",value=user.password)
    br
    br
    input(type="hidden", name="admin_pass",value="admin")
    input(type="submit", value="Update")
  if(user.admin)
    br
    p As an Admin, you have extra benefits like creating, updating and deleting authors, genres, books and book instances

  if usererror==1
    h1 Errors :
    h2 User Already Exists
  if saveerror==1
    h1 Errors :
    h2 Save Error
  if signup_errors
    h1 Errors :
    ul
    each error in signup_errors
        li=error.msg